html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--base-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: var(--literal-color);
  border: none;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: var(--highlight-color);
  border-radius: 10px;
  box-shadow: none;
}

:root{
  --literal-color: #993232;
  --strong-color: #FF4646;
  --accent-color: #FF8585;
  --sub-color: #FFB396;
  --base-color: #FFF5C0;
  --highlight-color: #BB8585;
}