.home{
	width: 80%;
	max-width: 850px;
	margin: auto;
}
.title{
	text-align: center;
	font-size: 100px;
	margin: 100px;
	color: var(--literal-color);
}
.button_wrapper{
	display: flex;
	width: 100%;
}
.go_button{
	margin: auto;
	width: 30%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: var(--literal-color);
	background-color: var(--sub-color);
	border-radius: 30px;
}
.go_button:active {
	background-color: var(--strong-color);
	color: var(--base-color);
}
.go_button a{
	display: flex;
	justify-content: center;
	padding: 20px;
}