.home{
	width: 80%;
	max-width: 850px;
	margin: auto;
}
.title{
	text-align: center;
	font-size: 100px;
	margin: 100px;
}
.signin_wrapper{
	width: 50%;
	display: inline-block;
}
.signin_wrapper h3{
	text-align: center;
}
.go_button_wrapper{
	display: block;
}
.go_button{
	margin: auto;
	width: 40%;
	border: 2px black solid;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.go_button a{
	display: flex;
	justify-content: center;
}